{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    <h1>Create</h1>
    <div class="schueler">
        <div> <p>Der Schueler mit dem  Namen "{{ schuelername }}" wurde erstellt</p></div>
    </div>

{% endblock %}
