{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="form-container">
      {{ form(form) }}
    </div>
  </div>
{% endblock %}

{% block title %}
  Neuer Schueler
{% endblock %}