<h1>Schuelers</h1>
<ul>
    {% for schueler in schuelers %}
        <li>
                <div>
                        <a href="/schueler/read/{{ schueler.id }}">{{ schueler.nachname }}</a>
                </div>
        </li>
    {% endfor %}
</ul>

<h2>Operations</h2>
<button type="button" onclick="window.location.href='/schueler/create';">Create</button>