{% extends 'base.html.twig' %}

{% block title %}Schueler{% endblock %}
{% block body %}
  <div class="container">
    <h1>Hallo {{ name.nachname }}y, schön dich zu sehen!</h1>
    <h3>stimmt deine Telefonnummer noch? Ich hab die {{ name.telefonNummer }} von dir.</h3>
    <h3>Du hast die Email: {{ name.email }}</h3>
  </div>
{% endblock %}
