<div style="align-items: center">
<div style="text-align: center; background-color: aqua; border-radius: 50%; width: 50%" >
    {{ schueler.nachname }}<br>
    {{ schueler.telefonNummer }}<br>
    {{ schueler.email }}<br>
    {{ schueler.kommentar }}<br>
</div>
</div>