*{
    font-size: 16px;
    font-family: Arial,sans-serif;
    margin:0;

}
h1{
    font-size:24px;
}

.navigation-header{
    height:70px;

    border: 2px solid steelblue;
    display:flex;
    justify-content: center;
}

.navigation-header nav{
    width:500px;
    display:flex;
    /*border: 2px solid red;*/
    height:auto;
    align-items: center;
    justify-content: space-between;
}
.navi{

    /*border: 2px solid green;*/
    /*margin-left: 20px;*/
}
.schueler{
    border:2px solid gray;
    margin-bottom: 20px;
    background-color: #e3e0e0;
}
.schueler-attribute{
    margin-bottom: 5px;
}
span{
    display:inline-block;
    width:100px;
}
.form{

    border:1px solid gray;
    width:400px;
    padding:10px;
    border-radius: 10px;
    margin: 50px auto;
}
#schueler_form div{
   margin-bottom: 10px;
}
#schueler_form div:last-child{
    display:flex;
    justify-content: center;
}
label{
    display:inline-block;
    width:150px;
    color:steelblue;
}
#schueler_form_save{
    background-color: steelblue;
    border:none;
    border-radius: 7px;
    padding:10px;
    color:#fff;
    width:400px;
}