<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div class="container" style="border: 3px solid; ">
    <div style="width: 40%; float: left; padding: 20px;">
        <a href="">Create</a><br>
        <a href="{{ path ('schueler_showall') }}">Read</a><br>
        <a href="">Update</a><br>
        <a href="">Delete</a><br>
    </div>
    {% block body %}{% endblock %}
</div>
</body>
</html>
