<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  <link rel="stylesheet" href="{{ asset('css/show.css') }}">
  <script src="{{ asset('js/app.js') }}" defer></script>
  {% block stylesheets %}{% endblock %}
  {% block javascripts %}{% endblock %}
</head>
<body>
  <ul class="nav">
    <li><a class="btn" href="{{ path('create_schueler') }}">create</a></li>
    <li><a class="btn" href="{{ path('showAll') }}">show all</a></li>
  </ul>
    {% block body %}{% endblock %}
</body>
</html>
